:root {
    --desktop-size: 1440px;
    ---mobile-size: 375px;

    /* === PROJECT COLORS === */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* === FONTS === */
    --default-font: 'Outfit', sans-serif;

    /* === COMPLEMENTS === */
    --default-rounded: 20px;

}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    background: var(--white);
    @include flex-center();
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    @include flex-center();
    width: 1300px;
    height: 725px;
    background-color: var(--light-gray);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2)
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 320px;
    height: 500px;
    background-color: var(--white);
    border-radius: var(--default-rounded);
    flex-direction: column;
    text-align: center;

    img {
        border-radius: calc(var(--default-rounded)/2);
    }

    span {
        font-size: 22px;
        font-weight: 700;
        color: var(--dark-blue);
        margin: 30px 0 20px 0;
    }

    p {
        font-size: 15px;
        color: var(--grayish-blue);
        padding: 0 20px;
        margin-bottom: 45px;
    }
}

@media (max-width: 375px) {
    body {
        background: var(--light-gray);
    }

    .container {
        box-shadow: none;
    }
}